.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
  padding-bottom: 2%;
  border-radius: 10px;
  justify-content: space-between;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row-height {
  height: 30%;
}

.flex-fill {
  height: 50%;
  margin-bottom: 5%;
}
.flex-fill:hover {
  cursor: pointer;
}

.modal-details {
  width: 1300px;
}

.modal-content {
  width: 240% !important;
  height: 180% !important;
  margin-left: -80%;
}

.modal-dialog {
  height: 300px !important;
}

.right-button {
  margin-left: 63% !important;
}

.input-search {
  width: 3%;
}